.page {
    width: 100vw;
    height: 100vh;
    background-color: #E43F3F;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    overscroll-behavior-y: none;
}

/* nav bar section */
.navbar {
    background-color: white;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.buttons {
    color: black;
    margin: 10px;

}

.logo {
    width: 30%;
    height: 100%;
    background-image: url(/assets/RMT.png);
    background-size: cover;
}

/* end nav bar section */


.tutorSection {
    width: 100vw;
    margin-top: 100px;
    margin-left: 25px;
}

.tutorInfo {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.tutorName {
    font-size: 50px;
    display: inline-block;

}
.tutorRating {
    font-size: 48px;
    display: flex;
    margin-top: 20px;

}

.tutorSubjects {
    font-size: 20px;
    color: rgb(167, 167, 167);

}

.ratingDist {
    width: 50%;
    height: 60vh;
    border: 1px solid #2C2C2C ;
    background-color: rgb(232, 232, 232);
    color: black;
    border-radius: 20px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 100px;
}


/* footer section*/
.footer {
    position: relative;
    background-color: #2C2C2C;
    width: 100vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.socials{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: 20px;
}
.copyright {
    color: white;
}

.logo {
    position: absolute;
    left: 0;
    width: 25vw;
    height: 100%;
    background-image: url(../assets/RMT.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.instagram {
    width: 2vw;
    height: 2vw;
    background-image: url(../assets/instaIcon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.tiktok {
    width: 2vw;
    height: 2vw;
    background-image: url(../assets/tiktokIcon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
